body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: lightgrey;
}
h2, p, .readme-wrapper {
    text-align: center;
}
a {
    text-decoration: none;
    color: red;
}
a:hover {
    cursor: pointer;
    font-weight: 700;
    color: darkblue;
}
span {
    color: darkgreen;
    font-weight: 700;
}
.boxes {
    margin: 1em 2em;
    padding: .5em 1em;
    border: .2em solid blue;
    border-radius: 15px;
    width: 30em;
    display: block;
}
#box1 {
    background: blueviolet;
}
#box2 {
    background: coral;
}
#box3 {
    background: darkgoldenrod;
}
#box4 {
    background: darksalmon;
}
.circles {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: deepskyblue;
    position: absolute;
    left: 70px;

}
h1 {
    color: firebrick;
}
.original {
    color: maroon;
}
.additional {
    color: indigo;
}
#show1 {
    color: midnightblue;
}
#show2 {
    color: olivedrab;
}
#show3 {
    color: orangered;
}
#show4 {
    color: yellow;
}
#show5 {
    color: teal;
}
ul {
    color: saddlebrown;
}
.star {
    color: seagreen;
}
#wars {
    color: slateblue;
}
.lists {
    border: 2px solid black;
}